@model QuarterlySales.Models.SaleViewModel
@{
	ViewBag.Title = "Add Sale";
}
<div class="container">
	<div class="ms-3 mt-2">
		<h1>Add Sale</h1>
	</div>
	<form asp-controller="Sale" asp-action="Add" method="post">
		<div class="m-3">
			<label asp-for="Sale.Quarter">Quarter</label>
			<input asp-for="Sale.Quarter" class="form-control" />
			<span asp-validation-for="Sale.Quarter" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="Sale.Year">Year</label>
			<input asp-for="Sale.Year" class="form-control" />
			<span asp-validation-for="Sale.Year" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="Sale.Amount">Amount</label>
			<input asp-for="Sale.Amount" class="form-control" />
			<span asp-validation-for="Sale.Amount" class="text-danger"></span>
		</div>
		<div class="m-3">
			<label asp-for="Sale.EmployeeId" class="form-label">Employee</label>
			<select asp-for="Sale.EmployeeId" class="form-select">
				<option value="0">Select an employee...</option>
				@foreach (var employee in Model.Employees)
				{
<<<<<<< HEAD
					<option value="@employee.EmployeeId">@employee.Name</option>
=======
						<option value="@employee.EmployeeId">@employee.Name</option>
>>>>>>> 39d7a07e75018d3603d9f9a503825004aef1fdf2
				}
			</select>
			<span asp-validation-for="Sale.EmployeeId" class="text-danger"></span>
		</div>
		<div class="m-3">
			<button type="submit" class="btn btn-primary">Add</button>
			<a asp-controller="Home" asp-action="Cancel" class="btn btn-primary">Cancel</a>
		</div>
	</form>
</div>
