@model EmployeeViewModel

<div class="container">
    <div class="ms-3 mt-2">
        <h1>Add Employee</h1>
    </div>
    <form asp-controller="Employee" asp-action="Add" method="post">
        <div class="m-3">
            <label asp-for="Employee.Firstname">First Name</label>
            <input asp-for="Employee.Firstname" class="form-control" />
            <span asp-validation-for="Employee.Firstname" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Employee.Lastname">Last Name</label>
            <input asp-for="Employee.Lastname" class="form-control" />
            <span asp-validation-for="Employee.Lastname" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Employee.Birthdate">Birth Date</label>
            <input asp-for="Employee.Birthdate" class="form-control" />
            <span asp-validation-for="Employee.Birthdate" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Employee.Hiredate">Hire Date</label>
            <input asp-for="Employee.Hiredate" class="form-control" />
            <span asp-validation-for="Employee.Hiredate" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Employee.ManagerId" class="form-label">Manager</label>
            <select asp-for="Employee.ManagerId" class="form-select">
                <option value="0">Select an employee...</option>
                @foreach (var employee in Model.Employees)
                {
                    <option value="@employee.EmployeeId">@employee.Name</option>
                }
            </select>
            <span asp-validation-for="Employee.ManagerId" class="text-danger"></span>
        </div>
        <div class="m-3">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-controller="Home" asp-action="Cancel" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>